﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/content/site.css" />
    <link rel="stylesheet" href="~/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div>
        @RenderBody()
        @RenderSection("Scripts", true)
    </div>
</body>
</html>
