﻿@model ToDoList.ViewModels.IndexViewModel

@using (Html.BeginForm("AddTask", "Home"))
{
    @Html.TextAreaFor(model => model.Task.Description, new { @class = "form-control ", @placeholder = "Add Task...", @rows = "3" })
    <input type="submit" class="btn btn-primary" value="Add Task" name="buttonAddTask" />
}

@if (!Model.Tasks.Any())
{
    <div class="container">
        <p class="lead text-center">There are no items on your to do list!</p>
    </div>
}
else
{
    <table class="table table-striped">
        @foreach (var task in Model.Tasks)
        {

            <tr>
                <td>
                    @if (!task.IsCompleted)
                    {
                        @Html.DisplayFor(model => task.Description);
                    }
                    else
                    {
                        <div class="CompletedTasks">@Html.DisplayFor(model => task.Description)</div>
                    }
                </td>
                <td>
                    @Html.CheckBoxFor(model => task.IsCompleted, new { id = task.Id, @class = "ActiveCheck" })
                </td>
                <td>
                    <button disabled>
                        @Html.ActionLink("Remove", "DeleteTask", new { id = task.Id, @class = "" })
                    </button>
                </td>
            </tr>
        }
    </table>
}

@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/content/TaskCompletedCheckBox.js"></script>
}

